<section data-ng-controller="HomeController" data-ng-init="init()">
	<!--<div class="page-header">-->
		<!--<div class="row">-->
			<!--<h2>Deployment Calendar</h2>-->
		<!--</div>-->
		<!--<br>-->
		<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
			<!--&lt;!&ndash;<p class="lead" style="font-size: 16px">&ndash;&gt;-->
				<!--&lt;!&ndash;Mass Automation Deployment Calendar&ndash;&gt;-->
			<!--&lt;!&ndash;</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--</div>-->

	<div id="calendar"></div>

</section>
